process {
    withName: HUMANN4_RUN {
        container = params.humann_container
        publishDir = [path: { "${params.outdir}/humann4/${meta.id}" }, mode: params.publish_dir_mode,
            saveAs: { name -> name == 'versions.yml' ? null : name }]
    }
    withName: HUMANN4_JOIN {
        container = params.humann_container
        publishDir = [path: { "${params.outdir}/tables" }, mode: params.publish_dir_mode,
            saveAs: { name -> name == 'versions.yml' ? null : name }]
    }
    withName: MULTIQC {
        ext.args = { params.multiqc_title ? "--title '${params.multiqc_title}'" : '' }
        publishDir = [path: { "${params.outdir}/multiqc" }, mode: params.publish_dir_mode,
            saveAs: { name -> name == 'versions.yml' ? null : name }]
    }
}
